

{% extends 'base.html' %}
{% block content %}

<h2>Your Account</h2>

<br>


<h3>Hi {{ object.first_name }}</h3>
<br>
    <!-- <img src='media/{{ CustomUser.profile_picture }}'>
    <img src='media/{{ story.profile_picture }}'>
    <img src='media/{{ object.profile_picture }}'>
    <img src='media/{{ author.profile_picture }}'>
    <img src="media/images/IMG_0365">
    <img src="media/images/IMG_0365.jpg">
     -->
<!-- {{ user.profile_picture.url }}
<img src= "{{ user.profile_picture.url }}"> -->
    
<br>
<br>

<form>
    <button class="button-styles" formaction="{% url 'news:newStory' %}">Write New Story</button>
  </form>



<br>
<br>
<div>
    <h3>Your Details</h3>

<form>
<ul>
    <li>Username:  {{ object.username }}</li>
    <br>
    <li>Email:  {{ object.email}}</li>
    <br>
    <li>About me:  {{ user.about_me}}</li>

</form>
</div>

<br>
<br>
<br>

<div>
<form>
    <button class="button-styles" formaction="{% url 'users:changeAccount' pk=request.user.pk %}">Update your profile details here</button>
  </form>

</div>

{% endblock %}