@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    line-height: 1.5;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   line-height: 2.5;

}

h3 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;
    padding-top: 40px;
    font-variant: small-caps;

}

h4 {
    font-size: 18px;
    margin: 0;
    line-height: 2;
    font-family: quicksand

}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}


form {
    background-color: red;
    padding: 20px;

}

#id_title {
    min-width: 300px;
}